version: "3.8"

services:
  flask-app:
    build: .
    ports:
      - "8080:5000"
    depends_on:
      - redis-server
    environment:
      - PYTHONUNBUFFERED=1

  redis-server:
    image: "redis:latest"
    restart: unless-stopped
